h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
            
}

h1 {
    font-size: 96px;
}

h2 {
    font-size:64px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight:normal;
    margin: 0;
    font-size:16px;
    line-height:30px;
}

.hero {
    background-color: #f9f7fe;
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
}

.hero h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 2;
    font-weight: normal;

}
.ab-sec-content {
    padding: 160px 20px;
    margin:30px;
}


.about-hero h1 {
    font-size: 64px;
    line-height: 75px;
}

.about-hero h2 {
    font-size: 16px;
    font-family: 'Poppins',
        sans-serif;

}
.btn-branding {
    background: #6c63ff;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
        border-radius: 4px;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        border: 1px solid #6c63ff;
        color: #6c63ff;
    }

.project-desciption {
    padding: 120px 60px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }

    .about-hero {
        text-align: center;
        padding: 0;
    }

    .project-desciption {
        padding: 0;
        text-align: center;
    }
}